<div id="wrapper">
  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-dumbbell"></i>
      </div>
      <div class="sidebar-brand-text mx-3">FitFusion</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="/ejercicio">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Inicio</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAnimal" aria-expanded="true"
        aria-controls="collapseAnimal">
        <i class="fas fa-fw fa-cog"></i>
        <span>Guias</span>
      </a>
      <div id="collapseAnimal" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="/guia">Listado de ejercicios</a>
        </div>
      </div>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->

    <!-- Divider -->
    <hr class="sidebar-divider">



    <!-- Nav Item - Charts -->
    <li class="nav-item">
      <a class="nav-link" style="cursor: pointer;">
        <i class="fas fa-fw fa-sign-out-alt"></i>
        <span routerLink="/login">Salir</span></a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">


  </ul>
  <!-- Content Wrapper -->

  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <nav class="navbar navbar-expand navbar-light topbar" style="background-color: #76DA93;">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
          <i class="fa fa-bars"></i>
        </button>



        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">

          <div class="topbar-divider d-none d-sm-block"></div>

          <!-- Nav Item - User Information -->
          <li class="nav-item dropdown no-arrow">


            <!-- <img class="img-profile rounded-circle" src="img/undraw_profile.svg"> -->

          </li>

        </ul>

      </nav>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Content Row -->

        <div class="row">

          <!--AQUI EL CONTENIDO CENTRAL-->

          <div class="container-fluid mt-4">
            <div class="row">
              <div class="col-md-12 d-flex justify-content-center">
                <div class="page-header">
                  <h1>
                    <small>Lista de grupos musculares</small>
                  </h1>
                </div>
              </div>
            </div>
            <!--CONTENIDO-->
            <section class="body">
              <div class="titulos text-center">
                <div>
                  <h2><a href="/guia#pecho">Pecho</a></h2>
                  <img src="assets/images/pecho.png" alt="Imagen de pecho">
                </div>
                <div>
                  <h2><a href="/guia#abdomen">Abdomen</a></h2>
                  <img src="assets/images/abdomen.jpg" alt="Imagen de abdomen">
                </div>
                <div>
                  <h2><a href="/guia#hombro">Hombro</a></h2>
                  <img src="assets/images/hombro.png" alt="Imagen de hombro">
                </div>
                <div>
                  <h2><a href="/guia#cuadriceps">Cuadriceps</a></h2>
                  <img src="assets/images/cuadriceps.png" alt="Imagen de cuadriceps">
                </div>
                <div>
                  <h2><a href="/guia#brazo">Brazo</a></h2>
                  <img src="assets/images/brazos.png" alt="Imagen de brazo">
                </div>
                <div>
                  <h2><a href="/guia#gluteos">Gluteos</a></h2>
                  <img src="assets/images/gluteos.png" alt="Imagen de gluteos">
                </div>
                <div>
                  <h2><a href="/guia#espalda">Espalda</a></h2>
                  <img src="assets/images/espalda.png" alt="Imagen de espalda">
                </div>
              </div>
            </section>

            <div class="container">
              <section id="pecho">
                <div class="text-center">                  
                  <h2>Press Banca</h2>
                </div>
                <div style="display: flex; align-items: center;">
                  <div>
                    <img src="assets/images/pressbanca.jpg" style="width: 400px;">
                  </div>
                  <div style="margin-left: 20px;">
                    <ol>Acuéstate sobre un banco plano con los pies firmemente apoyados en el suelo. Asegúrate de que tus ojos estén alineados con la barra.</ol>
                    <ol>Coloca las manos ligeramente más anchas que el ancho de los hombros en la barra y agárrala con un agarre firme.</ol>
                    <ol>Antes de despegar la barra, asegúrate de que tus hombros, espalda y glúteos estén bien apoyados en el banco. Mantén una ligera curva en la parte baja de la espalda.</ol>
                    <ol>Despega la barra del soporte y bájala lentamente hacia tu pecho mientras mantienes los codos ligeramente doblados y los codos cerca del cuerpo. Controla el descenso para evitar golpes bruscos.</ol>
                    <ol>Cuando la barra toque ligeramente tu pecho, empuja hacia arriba con fuerza a través del pecho y los brazos para volver a la posición inicial. Mantén el control durante todo el movimiento.</ol>
                    <ol>Realiza el número deseado de repeticiones, asegurándote de mantener una técnica adecuada y una respiración constante.</ol>
                  </div>
                </div>              
              </section>
              <section id="abdomen">
                <div class="text-center">
                  <h2>Crunch abdominal</h2>
                </div>
                <div style="display: flex; align-items: center;">
                  <div>
                    <img src="assets/images/crunchabdominal.jpg" style="width: 400px;">
                  </div>
                  <div style="margin-left: 20px;">
                    <ol>Acuéstate boca arriba en el suelo con las piernas flexionadas y los pies apoyados en el suelo, separados aproximadamente a la anchura de los hombros. Coloca las manos detrás de la cabeza, cruzando los dedos suavemente o apoyándolas en los lados de la cabeza.</ol>
                    <ol>Mantén una ligera separación entre la barbilla y el pecho para evitar tensión en el cuello.</ol>
                    <ol>Contrayendo los músculos abdominales, eleva los hombros y la parte superior de la espalda del suelo. Evita tirar del cuello o utilizar los brazos para impulsarte.</ol>
                    <ol>Exhala mientras realizas el movimiento de elevación y mantén la contracción de los abdominales en la posición más alta durante un segundo.</ol>
                    <ol>Inhala mientras bajas lentamente la espalda hacia el suelo, controlando el movimiento y evitando que la cabeza o los hombros toquen el suelo por completo. Mantén la tensión en los abdominales durante todo el movimiento.</ol>
                    <ol>Repite el ejercicio durante el número deseado de repeticiones, manteniendo una técnica adecuada y una respiración controlada.</ol>
                  </div>
                </div>
                
              </section>

              <section id="hombro">
                <div class="text-center"><h2>hombro</h2></div>
                <div style="display: flex; align-items: center;">
                  <div>
                    <img src="assets/images/pressmilitar.jpg" style="width: 400px;">
                  </div>
                  <div style="margin-left: 20px;">
                    <ol>Ajusta el banco en posición vertical para que esté casi en posición vertical o con un ligero ángulo hacia atrás. Siéntate en el banco y coloca tus pies firmemente en el suelo.</ol>
                    <ol>Agarra la barra con un agarre ligeramente más amplio que el ancho de los hombros. Los pulgares deben estar envueltos alrededor de la barra para proporcionar un agarre seguro.</ol>
                    <ol>Levanta la barra desde el soporte y colócala en frente de tus hombros, con los brazos doblados y los codos apuntando hacia abajo. Esta es tu posición inicial.</ol>
                    <ol>Manteniendo una postura erguida y los abdominales contraídos, empuja la barra hacia arriba directamente sobre la cabeza, extendiendo completamente los brazos. Asegúrate de mantener los codos ligeramente hacia adelante y no permitas que se desvíen hacia los lados.</ol>
                    <ol>Baja la barra lentamente hacia la posición inicial controlando el movimiento. Mantén los músculos abdominales comprometidos y evita arquear la espalda.</ol>
                    <ol>Repite el movimiento durante el número deseado de repeticiones.</ol>
                  </div>
                </div>
                
              </section>

              <section id="cuadriceps">
                <div class="text-center">
                  <h2>sentadilla</h2>
                </div>
                <div style="display: flex; align-items: center;">
                  <div>
                    <img src="assets/images/sentadilla.jpg" style="width: 400px;">
                  </div>
                  <div style="margin-left: 20px;">
                    <ol>Comienza colocando una barra sobre los trapecios, justo por encima de los hombros. Asegúrate de que la barra esté bien equilibrada y sujeta con un agarre firme.</ol>
                    <ol>Párate con los pies ligeramente más anchos que el ancho de los hombros y apunta los dedos ligeramente hacia afuera para mantener la estabilidad.</ol>
                    <ol>Mantén una postura erguida con el pecho hacia arriba y los hombros hacia atrás. Mantén la mirada al frente durante todo el movimiento.</ol>
                    <ol>Desciende lentamente doblando las rodillas y las caderas, como si te fueras a sentar en una silla imaginaria. Asegúrate de que tus rodillas no se extiendan más allá de los dedos de los pies y mantén los talones bien apoyados en el suelo.</ol>
                    <ol>Continúa bajando hasta que tus muslos estén paralelos al suelo o incluso un poco más abajo si tienes la flexibilidad y la fuerza necesarias. Mantén los músculos del core activados y la espalda recta durante todo el movimiento.</ol>
                    <ol>Luego, empieza a ascender lentamente, empujando a través de los talones y extendiendo las rodillas y las caderas para volver a la posición inicial.</ol>
                  </div>
                </div>
              </section>

              <section id="brazo">
                <div class="text-center">
                  <h2>brazo</h2>
                </div>
                <div style="display: flex; align-items: center;">
                  <div>
                    <img src="assets/images/curlbicep.jpg" style="width: 400px;">
                  </div>
                  <div style="margin-left: 20px;">
                    <ol>Comienza de pie con los pies separados aproximadamente al ancho de los hombros. Sujeta una mancuerna en cada mano con las palmas de las manos mirando hacia adelante y los brazos extendidos a los costados del cuerpo.</ol>
                    <ol>Mantén los codos pegados al cuerpo y los hombros hacia atrás y abajo para mantener una postura adecuada.</ol>
                    <ol>Contrae los músculos del abdomen y mantén el núcleo estable para evitar balanceos o movimientos excesivos del cuerpo durante el ejercicio.</ol>
                    <ol>Sin mover los codos, comienza a flexionar los brazos mientras llevas las mancuernas hacia los hombros. Mantén los antebrazos estacionarios y enfoca la contracción en los músculos de los bíceps.</ol>
                    <ol>Continúa flexionando los brazos hasta que las mancuernas estén cerca de los hombros. Mantén la posición de contracción durante un segundo, sintiendo la tensión en los bíceps.</ol>
                    <ol>Luego, comienza a bajar lentamente las mancuernas, controlando el movimiento y manteniendo la tensión en los bíceps.</ol>
                  </div>
                </div>
                
              </section>

              <section id="gluteos">
                <div class="text-center">
                  <h2>Hip trust</h2>
                </div>
                <div style="display: flex; align-items: center;">
                  <div>
                    <img src="assets/images/bulgara.jpg" style="width: 400px;">
                  </div>
                  <div style="margin-left: 20px;">
                    <ol>Comienza colocando una barra sobre tus hombros, justo por encima de la parte superior de la espalda. Asegúrate de que la barra esté bien equilibrada y sujeta con un agarre firme.</ol>
                    <ol>Colócate frente a un banco o step y coloca la parte superior de un pie en el banco, con el pie completamente apoyado y el talón elevado.</ol>
                    <ol>Da un paso hacia adelante con la otra pierna, dejando suficiente espacio entre los pies para que haya estabilidad.</ol>
                    <ol>Mantén la espalda recta, los hombros hacia atrás y la mirada al frente.</ol>
                    <ol>A medida que te preparas para realizar el movimiento, comienza a bajar el cuerpo hacia abajo doblando ambas rodillas. Asegúrate de que la rodilla delantera no pase la punta del pie y que la rodilla trasera se acerque lo más posible al suelo.</ol>
                    <ol>Impúlsate hacia arriba a través del talón del pie delantero y regresa a la posición inicial, con ambas piernas extendidas.</ol>
                  </div>
                </div>
                
              </section>

              <section id="espalda">
                <div class="text-center">
                  <h2>espalda</h2>
                </div>
                <div style="display: flex; align-items: center;">
                  <div>
                    <img src="assets/images/dominada.jpg" style="width: 400px;">
                  </div>
                  <div style="margin-left: 20px;">
                    <ol>Encuentra una barra de dominadas o una barra horizontal firme que pueda soportar tu peso corporal. Asegúrate de que esté instalada de forma segura y tenga suficiente espacio para que te cuelgues libremente.</ol>
                    <ol>Párate frente a la barra y extiende los brazos para agarrarla con las palmas mirando hacia adelante, ligeramente más anchas que el ancho de los hombros. También puedes optar por un agarre en supinación (palmas mirando hacia ti) o agarre mixto (una mano en supinación y la otra en pronación) si te sientes más cómodo.</ol>
                    <ol>Levanta los pies del suelo y cuelga libremente, manteniendo los brazos completamente extendidos. Esto es la posición inicial.</ol>
                    <ol>A medida que te preparas para realizar la dominada, contrae los músculos del core y los glúteos. Luego, comienza a flexionar los codos y a tirar del cuerpo hacia arriba, llevando el pecho hacia la barra.</ol>
                    <ol>Continúa subiendo hasta que tu barbilla esté por encima de la barra. Mantén una buena postura durante todo el movimiento, evitando balancear el cuerpo o usar impulso.</ol>
                    <ol>A medida que alcances la parte superior del movimiento, mantén la contracción en los músculos de la espalda y los brazos durante un segundo antes de comenzar a descender.</ol>
                    <ol>Baja lentamente el cuerpo, extendiendo los codos y regresando a la posición inicial. Evita dejar caer el cuerpo bruscamente.</ol>
                  </div>
                </div>
                
              </section>
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
              <div class="container my-auto">
                <div class="copyright text-center my-auto">
                  <span>Copyright &copy; Your Website 2021</span>
                </div>
              </div>
            </footer>
            <!-- End of Footer -->

          </div>
          <!-- End of Content Wrapper -->

        </div>

      </div>